<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="@ViewData["icon"]" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>@ViewData["Title"]</title>
</head>

<body>

    <!-- Header -->
    <header class="header">
        <a href="#home" class="logo">@ViewData["Fname"] <span>@ViewData["Lname"]</span><span class="animate" style="--i:1"></span></a>

        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2"></span></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>

            <span class="animate" style="--i:2"></span>
        </nav>
    </header>
            @RenderBody()

    <!-- Footer Design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; @ViewData["year"] by @ViewData["copy-right"] | All Rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    @* <script src="https://code.jquery.com/jquery-latest.min.js"></script> *@
    <script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>